################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Output
/FFmpeg
/FFmpegUniversal/FFmpeg
/FFmpegUniversalSDK/ARM
/FFmpegUniversalSDK/Win32
/FFmpegUniversalSDK/x64
/FFmpegUniversalSDK/libavcodec
/FFmpegUniversalSDK/libavdevice
/FFmpegUniversalSDK/libavfilter
/FFmpegUniversalSDK/libavformat
/FFmpegUniversalSDK/libavutil
/FFmpegUniversalSDK/libswresample
/FFmpegUniversalSDK/libswscale
